{% extends "employees/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<!-- Form to take input from user to add details of employees or to edit details of existing employee -->
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.fullName|as_crispy_field}}
    <div class="row">
        <div class="col-md-6">
            {{form.contactNumber|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.emailID|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.dateOfBirth|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.bloodGroup|as_crispy_field}}
        </div>
    </div>
    {{form.address|as_crispy_field}}
    <!-- Button to submit form values -->
    <div class="row"> -->
        <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
    <!-- Button to go to list view of all empoyees -->
        <div class="col-md-6">
            <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>
</form>
{% endblock content %}
    